.inputDiv {
  width: 60%;
  display: flex;
  padding: 1rem 1.4rem;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;

  &__label {
    font-family: "GandhiSansRegular";
    color: #E8E2E2;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    width: 100%;
    position: relative;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 10px;
      z-index: -1;
      border: 2px solid transparent;
      background: #E8E2E2;
    }
  }

  &__input {
    width: 100%;
    height: 30px;
    color: #5D3891;
    font-family: "GandhiSansRegular";
    font-size: 1rem;
    border: none;
    background-color: transparent;
    outline: 0;

    &:-webkit-autofill { 
      -webkit-text-fill-color: #5D3891;
      -webkit-background-clip: text;
    }
  }

  &__icon {
    transform: translateY(2px);
    color: #5D3891;
    height: 30px;
    width: 30px;
    margin: 4px 10px;
  }

}

@media screen and (min-width: 1510px) {
  .inputDiv {
    &__label {
      font-size: 1.2rem;
    }

    &__input {
      font-size: 1.2rem;
      height: 50px;
    }
  }
}

@media screen and (max-width: 590px) {
  .inputDiv {
    &__label {
      font-size: 0.8rem;
    }

    &__input {
      font-size: 0.8rem;
      height: 30px;
      width: 100%;
    }
  }
}